OPENAI_API_KEY="sk-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
ES_HOST="http://localhost:9201"
ES_INDEX_NAME="wf_periodi_f124"
ES_INDEX_NAME_COMBO="wf_combo_4d89"
ES_INDEX_NAME_REATI="wf_reati_7d35"
ES_INDEX_NAME_REATI_CIRC_LIGHT="wf_reati_circ_light_c950"
ES_INDEX_NAME_REATI_CIRC_FULL="wf_reati_circ_full_6ed6"

# Indici del paper
ES_INDEX_PAPER_PERIODI_FLAT="paper_periodi_flat"
ES_INDEX_PAPER_REATI="paper_reati"
ES_INDEX_PAPER_REATI_CIRC_LIGHT="paper_reati_circ_light"
